html{
    scroll-behavior: smooth;
}
body{
    background-color: black;
    color: white;
    font-family: "Nunito", sans-serif;
}
#mainNavbar {
    font-size: 1.2em;
    background-color: black;
}

#mainNavbar .navbar-brand{
    color: #f72585;
    border: solid;
    margin-top: 0.2em;
    padding: 0; 
    font-size: 1.5em;
    
}
#mainNavbar .navbar-brand:hover{
    color: #ffb703;
    text-shadow: 0 0 7px #ffb703;
    transition: all 1s;
}
#mainNavbar .nav-link:hover{
    color: #f72585;
}

.container{
    /* border: solid; */
    font-family: 'Space Grotesk', sans-serif;
    padding: 2em;
    text-align: center;
    margin-top: 9em;
    
}
.typist{
    color: white;
    font-size: 68px;
    font-family: 'Space Grotesk', sans-serif;
}

.text_highlight{
    color: #f72585;
}
h3{
    margin: 13px 0px;
}
p{
    font-size: large;
    margin: 16px 0px 0px;
}

#mailbox{
    margin-top: 50px;
}

